{% extends "base.html" %}
{% from "pagination.html" import pagi with context %}

{% block subnav1 %}
<li class="nav-item active"><a class="nav-link" href="{{ url_for('overview', accountid=accountid) }}">{{ lang['overview'] }}</a></li>
	{% if cnt_new.cnt > 0 and page_name=='listAll' %}
	<li class="nav-item active"><a class="nav-link" href="{{ url_for('listNew', accountid=accountid) }}">{{ lang['new'] }}</a></li>
	{% endif %}
	{% if page_name=='listNew' %}
	<li class="nav-item active"><a class="nav-link" href="{{ url_for('listAll', accountid=accountid) }}">{{ lang['all'] }}</a></li>
	{% endif %}
{% endblock %}

{% block app_content %}

	<form method="post" class="mt-1">
		<div class="row">
			<label class="col-sm-7 badge bg-dark py-2">{{ lang['transaction_text_to_match'] }}</label>
			<label class="col-sm-3 badge bg-dark py-2">{{ lang['tag_name'] }}</label>
			<label class="col-sm-2 badge bg-dark py-2"><i class="bi-tools"></i></label>
		</div>
		<div class="row mt-1">
			<div class="col-sm-7 p-0"><input type="text" class="form-control form-control-sm" name="cond_desc" autocomplete="off" required></div>
			<div class="col-sm-3 p-0"><select name="cond_tag" id="tag_list_00" class="form-select form-select-sm tag_list" data-idx="00" data-selitem="" required></select></div>
			<div class="col-sm-2 pr-0"><button type="submit" name="btnSubmit" value="createCond" class="btn btn-outline-primary btn-block btn-sm"><i class="bi-plus-lg"></i></button></div>
		</div>
	</form>

{% if show_pagination %}
	<div class="row">
		<div class="col-sm p-0">
			{{ pagi(pagination, url_for_name) }}
		</div>
	</div>
{% else %}
	<br><br>
{% endif %}

{% for cond in pagination.items %}
	<form method="post">
	  <div class="row">
		<input type="hidden" name="cond_ID" value="{{ cond.id }}" id="id{{ loop.index }}" required>
		<div class="col-sm-7 p-0"><input type="text" class="form-control form-control-sm" name="cond_desc" value="{{ cond.cName }}" id="desc{{ loop.index }}" autocomplete="off" required></div>
		<div class="col-sm-3 p-0"><select name="cond_tag" id="tag_list_{{ loop.index }}" class="form-select form-select-sm tag_list" data-idx="{{ loop.index }}" data-selitem="{{ cond.tag_id }}" required></select></div>
		<div class="col-sm-2 pr-0 btn-group">
			<button type="submit" class="btn btn-outline-success btn-sm float-right" name="btnSubmit" value="updateCond" data-container="body" data-toggle="tooltip" title="{{ lang['btn_save'] }}"><i class="bi-save"></i></button>
			<button type="submit" class="btn btn-outline-danger btn-sm float-right" name="btnSubmit" value="deleteCond" data-container="body" data-toggle="tooltip" title="{{ lang['btn_delete'] }}"><i class="bi-trash"></i></button>
		</div>
	  </div>
  </form>
{% endfor %}

{% endblock %}
{% block page_script %}
<script type="text/javascript">

//create a map of all tags
	const tag_map = new Map();
  	{% for tag in tags %}
      tag_map.set({{ tag.id }}, "{{ tag.tName }}");
	{% endfor %}

//populate .tag_list dropdown list
	document.querySelectorAll('.tag_list').forEach(item => {
		var idx = item.getAttribute('data-idx');
    	var data = '<option value="">- - -</option>';  
    	//generate dropdown options
		for(let [key, value] of tag_map){
			data = data + '<option value="'+ key +'">'+ value +'</option>';
		}
    	//populate dropdown with options
		document.getElementById('tag_list_'+idx).innerHTML = data;
    	//add 'select' to selected options
		var sel_ids = item.getAttribute('data-selitem').toString().split(',');
    	document.getElementById('tag_list_'+idx).value = sel_ids;
	});

</script>
{% endblock %}

