{% extends "base.html" %}

{% block subnav %}
{% endblock %}

{% block app_content %}
<div class="row mt-3 row-cols-4 row-cols-md-4 g-4">
  {% for account in accounts %}
  <div class="col">
    <div class="card" style="width:18rem;">
      <div class="card-header bg-dark text-light">
        {{ account.accName }}
        <button type="button" data-bs-accountid="{{ account.id }}" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-sm btn-outline-warning float-end"><i class="bi-trash"></i></button>
      </div>
      <div class="card-body">
        <h5 class="card-title">{% if account.balance %}{{ lang['balance'] }}: £{{ account.balance|int }}{% endif %}&nbsp;</h5>
        <p class="card-text">{{ lang['last_upload'] }}: {{ account.upldate | replace("None","Never")}}</p>
        <a href="{{ url_for('overview', accountid=account.id) }}" class="btn btn-primary">{{ lang['view'] }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title text-light" id="deleteModalLabel">{{ lang['confirm_delete'] }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>{{ lang['delete_acc_msg1'] }}</p>
          <p class="text-danger"><b>{{ lang['delete_acc_msg2'] }}</b></p>
          <form method="post">
            <input name="del_acc" type="number" id="del_acc_id" class="d-none" required>
            <button type="submit" name="action" value="deleteAccount" class="btn btn-danger mt-5">{{ lang['delete'] }}</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ lang['close'] }}</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block page_script %}
<script>

//show Account delete modal
  var myModal = document.getElementById('deleteModal');
  myModal.addEventListener('show.bs.modal', function(event){
    // Button that triggered the modal
    var button = event.relatedTarget;
    // Extract info from data-bs-* attributes
    var accountid = button.getAttribute('data-bs-accountid');
    // Update the modal's content.
    document.getElementById('del_acc_id').value = accountid;
  })

</script>
{% endblock %}
