{% extends "base.html" %}
{% from "pagination.html" import pagi with context %}

{% block subnav1 %}
<li class="nav-item active"><a class="nav-link" href="{{ url_for('overview', accountid=accountid) }}">Overview</a></li>
{% if cnt_new.cnt > 0 and page_name=='listAll' %}
  <li class="nav-item active"><a class="nav-link" href="{{ url_for('listNew', accountid=accountid) }}">New</a></li>
{% endif %}
{% if page_name=='listNew' %}
  <li class="nav-item active"><a class="nav-link" href="{{ url_for('listAll', accountid=accountid) }}">All</a></li>
{% endif %}
{% endblock %}
{% block app_content %}

<main>
  <!-- Modal Split Transaction-->
  <div class="modal fade" id="Modal_split" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h4 class="modal-title text-light" id="exampleModalLabel">Split Transaction</h4>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form method="post" class="form-horizontal mx-2">
            <div class="row">
              <label for="trans_desc" class="col-sm-7 badge badge-dark py-2">New Description</label>
              <label for="trans_amnt" class="col-sm-2 badge badge-dark py-2">Amount</label>
              <label for="trans_tag"  class="col-sm-3 badge badge-dark py-2">Tag</label>
            </div>
            <div class="row">
              <input type="hidden" name="trans_ID" id="splitID" required>
              <div class="col-sm-2 p-0"><div class="input-group date" data-idx="0" id="datetimepicker0" data-target-input="nearest">
                <input type="text" name="trans_date" id="splitDate" class="form-control datetimepicker-input" data-target="#datetimepicker0" autocomplete="off" required/></div>
              </div>
              <div class="col-sm-5 p-0"><input type="text" class="form-control" name="trans_desc" id="splitDesc" autocomplete="off" required></div>
              <div class="col-sm-2 p-0"><input type="number" step="0.01" class="form-control" name="trans_amnt" id="splitNewAmnt" autocomplete="off" required></div>
              <div class="col-sm-3 p-0">
                <select name="trans_tag" id="tag_list_00" class="form-control tag_list" data-idx="00" data-selitem="" data-multi="0" required></select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-7 px-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="1" name="adjust" id="splitAdjust">
                  <label class="form-check-label" for="splitAdjust">Update amount of the original transaction to:</label>
                </div>
              </div>
              <input type="hidden" id="splitAmnt_static">
              <div class="col-sm-2 p-0"><input type="number" step="0.01" class="form-control" name="prevAmount" id="splitAmnt" autocomplete="off"></div>
            </div>
            <button type="submit" name="btnSubmit" value="insertTrans" id="btnSplit" class="btn d-none">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary mr-auto btnSplitTrigger">Save changes</button>
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--END OF MODAL_SPLIT-->

<form method="post" action="{{ url_for('filter', accountid=accountid, page_name=page_name) }}" class="form-horizontal">
  <div class="row">
    <div class="col-sm p-0">
      <select name="filter_tag[]" id="tag_list_0" data-id="tag_list_0" class="form-control form-control-sm tag_list" data-idx="0" data-selitem="{% for i in filter_tag %}{{ i }}{{ ',' if not loop.last }}{% endfor %}" multiple="multiple" data-multi="1" ></select>
    </div>
  </div>
  <div class="row">
	  <div class="col-sm pr-0">
      <div class="float-left">
        {{ pagi(pagination, url_for_name) }}
      </div>
      <div class="float-right">
        <div class="input-group input-group-sm mt-2">
          <div class="input-group-prepend">
            <span class="input-group-text">Tags</span>
          </div>
          <div class="input-group-append">
            <a href="#" class="btn btn-outline-danger" onclick="$('#tag_list_0').bsMultiSelect('DeselectAll')" data-container="body" data-toggle="tooltip" title="Unselect All Tags"><span class="fa fa-times"></span></a>
          </div>
          <div class="input-group-append">
            <a href="#" class="btn btn-outline-primary" onclick="$('#tag_list_0').bsMultiSelect('SelectAll')" data-container="body" data-toggle="tooltip" title="Select All Tags"><span class="fa fa-plus"></span></a>
          </div>
          <div class="input-group-append">
            <span class="input-group-text">From</span>
          </div>
          <div class="col-sm p-0 date" data-idx="A" id="datetimepickerA" data-target-input="nearest" style="width:50px;"><input type="text" name="filter_from" value="{{ filter_from }}" class="form-control form-control-sm datetimepicker-input" data-target="#datetimepickerA" required/></div>
          <div class="input-group-append">
            <span class="input-group-text">To</span>
          </div>
          <div class="col-sm p-0 date" data-idx="B" id="datetimepickerB" data-target-input="nearest"><input type="text" name="filter_to" value="{{ filter_to }}" class="form-control form-control-sm datetimepicker-input date" data-target="#datetimepickerB" required/></div>
          <div class="input-group-append">
            <span class="input-group-text">Total # {{ cnt_avg_sum.a_cnt }}</span>
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Avg £{{'%0.2f'| format(cnt_avg_sum.a_avg|float)}}</span>
          </div>
          <div class="input-group-append">
            <span class="input-group-text">Total £{{'%0.2f'| format(cnt_avg_sum.a_sum|float) }}</span>
          </div>
          <div class="input-group-append">
            <button type="submit" class="btn btn-outline-success" name="btnSubmit" data-container="body" data-toggle="tooltip" title="Apply Filter"><span class="fa fa-filter"></span></button>
          </div>
          <div class="input-group-append">
            <a href="{{ url_for('filter', accountid=accountid, page_name=page_name) }}" class="btn btn-outline-danger" data-container="body" data-toggle="tooltip" title="Reset Filter"><span class="fa fa-eraser"></span></a>
          </div>
        </div>
      </div>
	  </div>     
	</div>
</form>


<div class="row">
	<label class="col-sm-2 badge badge-dark py-2">Date</label>
	<label class="col-sm-5 badge badge-dark py-2">Description</label>
	<label class="col-sm-1 badge badge-dark py-2">Amount</label>
	<label class="col-sm-2 badge badge-dark py-2">Tag</label>
	<label class="col-sm-2 badge badge-dark py-2">Tools</label>
</div>
{% for tran in pagination.items %}
	<form method="post">
	  <div class="row">
      <input type="hidden" name="trans_ID" value="{{ tran.id }}" id="id{{ loop.index }}" required>
      <div class="col-sm-2 p-0"><div class="input-group date" data-idx="{{ loop.index }}" id="datetimepicker{{ loop.index }}" data-target-input="nearest">
        <input type="text" name="trans_date" value="{{ tran.traDate }}" id="date{{ loop.index }}" class="form-control form-control-sm datetimepicker-input" data-target="#datetimepicker{{ loop.index }}" required/></div>
      </div>
      <div class="col-sm-5 p-0"><input type="text" class="form-control form-control-sm" name="trans_desc" value="{{ tran.desc }}" id="desc{{ loop.index }}" autocomplete="off" required></div>
      <div class="col-sm-1 p-0"><input type="text" class="form-control form-control-sm" name="trans_amnt" value="{{ tran.amount }}" id="amnt{{ loop.index }}" autocomplete="off" required></div>
      <div class="col-sm-2 p-0"><select name="trans_tag" id="tag_list_{{ loop.index }}" class="form-control form-control-sm tag_list" data-idx="{{ loop.index }}" data-selitem="{{ tran.tag_id }}" data-multi="0" required></select></div>
      <div class="col-sm-2 pr-0 btn-group">
  			<button type="submit" class="btn btn-outline-success btn-sm float-right" name="btnSubmit" value="updateTrans" data-container="body" data-toggle="tooltip" title="Save Changes"><span class="fa fa-save"></span></button>
        <button type="submit" class="btn btn-outline-primary btn-sm float-right" name="btnSubmit" value="createCondition" data-container="body" data-toggle="tooltip" title="Create Match String"><span class="fa fa-plus"></span></button>
        <button type="button" class="btn btn-outline-info btn-sm float-right modalTrigger" data-idx="{{ loop.index }}" data-container="body" data-toggle="tooltip" title="Split Transaction"><span class="fa fa-copy"></span></button>
			  <button type="submit" class="btn btn-outline-danger btn-sm float-right" name="btnSubmit" value="deleteTrans" data-container="body" data-toggle="tooltip" title="Delete Transaction"><span class="fa fa-trash"></span></button>
      </div>
	  </div>
  </form>
{% endfor %}

{{ pagi(pagination, url_for_name) }}
</main>
{% endblock %}
{% block page_script %}
<script src="https://rawgit.com/DashboardCode/BsMultiSelect/master/dist/js/BsMultiSelect.min.js"></script>
<script type="text/javascript">

//create a map of all tags
  const tag_map = new Map();
  {% for tag in tags %}
    tag_map.set({{ tag.id }}, "{{ tag.tName }}");
  {% endfor %}

//.tag_list dropdown list
  $('.tag_list').each(function(){
    var idx = $(this).data('idx');
    var data = '';  
    //generate dropdown options
	  for(let [key, value] of tag_map){
	  	data = data + '<option value="'+ key +'">'+ value +'</option>';
	  }
    //populate dropdown with options
    $('#tag_list_'+idx).html(data);
    //populate dropdown with options
    if($(this).data('multi') == 1){
      $('#tag_list_'+idx).html(data);
      $('#tag_list_'+idx).bsMultiSelect();
    }else{
      $('#tag_list_'+idx).html('<option value="">- Select Tag -</option>' + data);
    }
    //select options
    $.sel_ids = $(this).data('selitem').toString().split(',');
    $('#tag_list_'+idx).val($.sel_ids);
  });

//Modal open
  $('.modalTrigger').click(function(){
    var idx = $(this).data('idx');
    //get source data and pass it to modal
    $('#Modal_split #splitID').val($('#id'+idx).val());
    $('#Modal_split #splitDate').val($('#date'+idx).val());
    $('#Modal_split #splitDesc').val('SPLIT - '+$('#desc'+idx).val());
    $('#Modal_split #splitAmnt').val($('#amnt'+idx).val());
    $('#Modal_split #splitAmnt').prop('required',true);
    $('#Modal_split #splitAmnt_static').val($('#amnt'+idx).val());
    $('#Modal_split #splitAdjust').prop('checked',true);
    $('#Modal_split').modal();
  });
  //recalculate original transaction amount
  $('#Modal_split #splitNewAmnt').change(function(){
    var am1 = $('#Modal_split #splitAmnt_static').val();
    var am2 = $('#Modal_split #splitNewAmnt').val();
    var res = parseFloat(am1) - parseFloat(am2);
    $('#Modal_split #splitAmnt').val(res.toFixed(2));
  });
  //Transcation split modal, submit trigger
  $('.btnSplitTrigger').click(function(){
    $('#btnSplit').click();
  });


function bsMultiSelectHeight(bsMs){
  //https://github.com/DashboardCode/BsMultiSelect/issues/7
  //find height of the browser window
  var e = document.documentElement,
      g = document.getElementsByTagName('body')[0],
      y = window.innerHeight || e.clientHeight || g.clientHeight;
  //find DOM element
  var bsMultiSelectDiv = document.getElementById(bsMs);
  var bsMultiSelectParent = bsMultiSelectDiv.nextElementSibling;
  var bsMultiSelect = bsMultiSelectParent.getElementsByClassName('dropdown-menu')[0];
  //find position of BsMultiSelect, if it's at the bottom of the page make the ul.dropdown-menu shorter
  var pos = bsMultiSelectParent.getBoundingClientRect();
  var new_y = y - pos.top;
  //calculate BsMultiSelect max-height
  var msHeight = Math.round(new_y * 0.85);
  //add css height value
  bsMultiSelect.style.setProperty("max-height", msHeight+"px");
  bsMultiSelect.style.setProperty("overflow-y", "scroll");
}

bsMultiSelectHeight('tag_list_0');

</script>
{% endblock %}

