{% extends "base.html" %}
{% from "pagination.html" import pagi with context %}

{% block subnav1 %}
<li class="nav-item active"><a class="nav-link" href="{{ url_for('overview', accountid=accountid) }}">{{ lang['overview'] }}</a></li>
{% if cnt_new.cnt > 0 and page_name=='listAll' %}
  <li class="nav-item active"><a class="nav-link" href="{{ url_for('listNew', accountid=accountid) }}">{{ lang['new'] }}</a></li>
{% endif %}
{% if page_name=='listNew' %}
  <li class="nav-item active"><a class="nav-link" href="{{ url_for('listAll', accountid=accountid) }}">{{ lang['all'] }}</a></li>
{% endif %}
{% endblock %}
{% block app_content %}


  <!-- Modal Split Transaction-->
  <div class="modal fade" id="Modal_split" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h4 class="modal-title text-light" id="exampleModalLabel">{{ lang['btn_split_transaction'] }}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" class="form-horizontal mx-2">
            <div class="row">
              <label for="trans_desc" class="col-sm-7 badge badge-dark py-2">{{ lang['descriptions'] }}</label>
              <label for="trans_amnt" class="col-sm-2 badge badge-dark py-2">{{ lang['anount'] }}</label>
              <label for="trans_tag"  class="col-sm-3 badge badge-dark py-2">{{ lang['tag_name'] }}</label>
            </div>
            <div class="row">
              <input type="hidden" name="trans_ID" id="splitID" required>
              <div class="col-sm-2 p-0">                
                <div class="input-group date" data-idx="100" id="datetimepicker100" data-td-target-input="nearest" data-td-target-toggle="nearest">
                <input type="text" name="trans_date" id="date100" class="form-control form-control-sm" data-td-target="#datetimepicker100" data-td-toggle="datetimepicker" required/>
                <span class="input-group-text" data-td-target="#datetimepicker100" data-td-toggle="datetimepicker"><i class="bi-calendar"></i></span></div>
              </div>
              <div class="col-sm-5 p-0"><input type="text" class="form-control" name="trans_desc" id="splitDesc" autocomplete="off" required></div>
              <div class="col-sm-2 p-0"><input type="number" step="0.01" class="form-control" name="trans_amnt" id="splitNewAmnt" onchange="recalculateTrans()" autocomplete="off" required></div>
              <div class="col-sm-3 p-0">
                <select name="trans_tag" id="tag_list_00" class="form-select tag_list" data-idx="00" data-selitem="" required></select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-7 px-1">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="1" name="adjust" id="splitAdjust">
                  <label class="form-check-label" for="splitAdjust">{{ lang['msg_update_amount'] }}:</label>
                </div>
              </div>
              <input type="hidden" id="splitAmnt_static">
              <div class="col-sm-2 p-0"><input type="number" step="0.01" class="form-control" name="prevAmount" id="splitAmnt" autocomplete="off"></div>
            </div>
            <button type="submit" name="btnSubmit" value="insertTrans" id="btnSplit" class="btn d-none">{{ lang['btn_save'] }}</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary me-auto" onclick="document.getElementById('btnSplit').click()">{{ lang['btn_save'] }}</button>
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ lang['close'] }}</button>
        </div>
      </div>
    </div>
  </div>
  <!--END OF MODAL_SPLIT-->
  <!-- Modal Chart-->
  <div class="modal fade" id="Modal_chart" tabindex="-1">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h4 class="modal-title text-light" id="chartModalLabel"></h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="Modal_body_chart"></div>
      </div>
    </div>
  </div>
  <!--END OF MODAL Chart-->

<form method="post" action="{{ url_for('filter', accountid=accountid, page_name=page_name) }}" class="form-horizontal">
  <div class="row">
    <div class="col-sm p-0 bg-light border rounded px-1" id="tag_list_0" data-selitem="{% for i in filter_tag %}{{ i }}{{ ',' if not loop.last }}{% endfor %}"></div>
  </div>
  <div class="row">
	  <div class="col-sm p-0">
      <div class="float-start">
        {{ pagi(pagination, url_for_name) }}
      </div>
      <div class="float-end">
        <div class="input-group input-group-sm mt-2">
          <span class="input-group-text">{{ lang['tags'] }}</span>
          <button type="button" class="btn btn-outline-danger btn-sm" onclick="selectCheckboxes(false)" data-container="body" data-toggle="tooltip" title="{{ lang['btn_tags_unselect'] }}"><i class="bi-x"></i></button>
          <button type="button" class="btn btn-outline-primary btn-sm" onclick="selectCheckboxes(true)" data-container="body" data-toggle="tooltip" title="{{ lang['btn_tags_select'] }}"><i class="bi-plus-lg"></i></button>
          <span class="input-group-text">{{ lang['from'] }}</span>
          <div class="c0l-sm p-0" style="max-width:130px;">
            <div class="input-group input-group-sm date" data-idx="101" id="datetimepicker101" data-td-target-input="nearest" data-td-target-toggle="nearest">
            <input type="text" name="filter_from" value="{{ filter_from }}" id="date101" class="form-control form-control-sm" data-td-target="#datetimepicker101" data-td-toggle="datetimepicker" required/>
            <span class="input-group-text" data-td-target="#datetimepicker101" data-td-toggle="datetimepicker"><i class="bi-calendar"></i></span></div>
          </div>
          <span class="input-group-text">{{ lang['to'] }}</span>
          <div class="col-sm p-0" style="max-width:130px;">
            <div class="input-group input-group-sm date" data-idx="102" id="datetimepicker102" data-td-target-input="nearest" data-td-target-toggle="nearest">
            <input type="text" name="filter_to" value="{{ filter_to }}" id="date102" class="form-control form-control-sm" data-td-target="#datetimepicker102" data-td-toggle="datetimepicker" required/>
            <span class="input-group-text" data-td-target="#datetimepicker102" data-td-toggle="datetimepicker"><i class="bi-calendar"></i></span></div>
          </div>
          <input type="text" name="filter_desc" value="{{ filter_desc }}" class="filter_additional_fields d-none form-control form-control-sm" placeholder="{{ lang['transaction'] }}">
          <select id="filter_card" name="filter_card" data-cardselected="{{ filter_card }}" class="filter_additional_fields d-none form-control form-control-sm"><option value=""></option></select>
          <span class="input-group-text">{{ lang['total'] }} # {{ cnt_avg_sum.a_cnt }}</span>
          <span class="input-group-text">{{ lang['avg'] }} {{ currency_symbol }}{{'%0.2f'| format(cnt_avg_sum.a_avg|float)}}</span>
          <span class="input-group-text">{{ lang['total'] }} {{ currency_symbol }}{{ cnt_avg_sum.a_sum|int }}</span>
          <button type="button" class="btn btn-outline-secondary btn-sm" onclick="filter_show_more()" data-container="body" data-toggle="tooltip" title="{{ lang['btn_show_more'] }}"><i class="bi-three-dots"></i></button>
          <button type="submit" class="btn btn-outline-success btn-sm" name="btnSubmit" data-container="body" data-toggle="tooltip" title="{{ lang['btn_apply_filter'] }}"><i class="bi-funnel"></i></button>
          <a href="{{ url_for('filter', accountid=accountid, page_name=page_name) }}" class="btn btn-outline-danger btn-sm" data-container="body" data-toggle="tooltip" title="{{ lang['btn_reset_filter'] }}"><i class="bi-eraser"></i></a>
          <button type="button" class="btn btn-outline-secondary btn-sm" data-container="body" data-toggle="tooltip" title="{{ lang['chrt_lbl_fuel'] }}" data-bs-chart="4" data-bs-toggle="modal" data-bs-target="#Modal_chart"><i class="bi-fuel-pump-fill"></i></button>
          <button type="button" class="btn btn-outline-secondary btn-sm" data-container="body" data-toggle="tooltip" title="{{ lang['chrt_lbl_detail'] }}" data-bs-chart="1" data-bs-toggle="modal" data-bs-target="#Modal_chart"><i class="bi-pie-chart-fill"></i></button>
          <button type="button" class="btn btn-outline-secondary btn-sm" data-container="body" data-toggle="tooltip" title="{{ lang['chrt_lbl_timeline'] }}" data-bs-chart="2" data-bs-toggle="modal" data-bs-target="#Modal_chart"><i class="bi-graph-up"></i></button>
          <button type="button" class="btn btn-outline-secondary btn-sm" data-container="body" data-toggle="tooltip" title="{{ lang['chrt_lbl_weekdays'] }}" data-bs-chart="3" data-bs-toggle="modal" data-bs-target="#Modal_chart"><i class="bi-bar-chart-fill"></i></button>
        </div>
      </div>
	  </div>     
	</div>
</form>


<div class="row my-1">
  <label class="col-sm-2 badge bg-dark py-2"><span class="float-start">{{ lang['card'] }}</span><span class="float-end">{{ lang['date'] }}</span></label>
	<label class="col-sm-5 badge bg-dark py-2">{{ lang['transaction'] }}</label>
	<label class="col-sm-1 badge bg-dark py-2">{{ lang['amount'] }}</label>
	<label class="col-sm-2 badge bg-dark py-2">{{ lang['tag_name'] }}</label>
	<label class="col-sm-2 badge bg-dark py-2"><i class="bi-tools"></i></label>
</div>
{% for tran in pagination.items %}
	<form method="post">
	  <div class="row">
      <input type="hidden" name="trans_ID" value="{{ tran.id }}" id="id{{ loop.index }}" required>
      <div class="col-sm-2 p-0">
        <div class="input-group input-group-sm date" data-idx="{{ loop.index }}" id="datetimepicker{{ loop.index }}" data-td-target-input="nearest" data-td-target-toggle="nearest">
          <span class="input-group-text" style="font-family:'Courier New', Courier, monospace;">{{ tran.card }}</span>
          <input type="text" name="trans_date" value="{{ tran.traDate }}" id="date{{ loop.index }}" class="form-control form-control-sm text-end" data-td-target="#datetimepicker{{ loop.index }}" data-td-toggle="datetimepicker" required/>
          <span class="input-group-text" data-td-target="#datetimepicker{{ loop.index }}" data-td-toggle="datetimepicker"><i class="bi-calendar"></i></span>
        </div>
      </div>
      <div class="col-sm-5 p-0"><input type="text" class="form-control form-control-sm" name="trans_desc" value="{{ tran.desc }}" id="desc{{ loop.index }}" autocomplete="off" required></div>
      <div class="col-sm-1 p-0"><input type="text" class="form-control form-control-sm" name="trans_amnt" value="{{ tran.amount }}" id="amnt{{ loop.index }}" autocomplete="off" required></div>
      <div class="col-sm-2 p-0"><select name="trans_tag" id="tag_list_{{ loop.index }}" class="form-select form-select-sm tag_list" data-idx="{{ loop.index }}" data-selitem="{{ tran.tag_id }}" required></select></div>
      <div class="col-sm-2 p-0 btn-group">
  			<button type="submit" class="btn btn-outline-success btn-sm ml-1" name="btnSubmit" value="updateTrans" data-container="body" data-toggle="tooltip" title="{{ lang['btn_save'] }}"><i class="bi-check-lg"></i></button>
        <button type="submit" class="btn btn-outline-primary btn-sm" name="btnSubmit" value="createCondition" data-container="body" data-toggle="tooltip" title="{{ lang['btn_create_match_string'] }}"><i class="bi-star"></i></button>
        <button type="button" class="btn btn-outline-info btn-sm" data-bs-idx="{{ loop.index }}" data-bs-toggle="modal" data-bs-target="#Modal_split" data-container="body" data-toggle="tooltip" title="{{ lang['btn_split_transaction'] }}"><i class="bi-scissors"></i></button>
			  <button type="submit" class="btn btn-outline-danger btn-sm" name="btnSubmit" value="deleteTrans" data-container="body" data-toggle="tooltip" title="{{ lang['btn_delete'] }}"><i class="bi-trash"></i></button>
      </div>
	  </div>
  </form>
{% endfor %}
<br>

<table>
    {% for t in duplicated %}
    <tr class="text-danger"><td>{{ t.traDate }}</td><td>{{ t.desc }}</td><td>{{ t.amount }}</td></tr>
    {% endfor %}
</table>

{% endblock %}
{% block page_script %}
<!-- Tempus Dominus JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.7/dist/js/tempus-dominus.min.js" crossorigin="anonymous"></script>
<!-- Tempus Dominus Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@eonasdan/tempus-dominus@6.7.7/dist/css/tempus-dominus.min.css" crossorigin="anonymous">
<!-- Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">

//populate .date field => date picker
  const dateFields = document.querySelectorAll(".date");
  dateFields.forEach(function(item){
    var idx = item.getAttribute("data-idx");
    new tempusDominus.TempusDominus(document.getElementById('datetimepicker'+idx),{
      display: {
        viewMode: 'calendar',
        icons: {
          type: 'icons',
          previous: 'bi-chevron-double-left',
          next: 'bi-chevron-double-right',
        },
        components: {
          calendar: true,
          date: true,
          month: true,
          year: true,
          decades: true,
          clock: false,
          hours: false,
          minutes: false,
          seconds: false
        }
      },
      localization: {
        locale: 'en-GB',
        format: 'yyyy-MM-dd',
        dayViewHeaderFormat: 'MMMM yyyy'
      }
    })    
  });


//create a map of all tags
  const tag_map = new Map();
  {% for tag in tags %}
    tag_map.set({{ tag.id }}, "{{ tag.tName }}");
  {% endfor %}

//generate checkbox list
  function genCheckbox(){
    var data = '';
    var chboxDiv = document.getElementById('tag_list_0');
    //remove spaces and square brackets, make into an array
    var chboxSelitems = chboxDiv.getAttribute('data-selitem').slice(1,-1).replace(/\s+/g,'').split(',');
    for(let [key, value] of tag_map){
      var chkd = '';
      if(chboxSelitems.includes(key.toString())){
        chkd = 'checked';
      }
  		data = data + '<div class="form-check form-check-inline"><input class="form-check-input" name="filter_tag[]" type="checkbox" id="ch_'+ key +'" value="'+ key +'" '+chkd+'><label for="ch_'+ key +'" class="form-check-label small">'+ value +'</label></div>';
    }
    chboxDiv.innerHTML = data;
	}
  genCheckbox();

//select / de-select all checkboxes
  function selectCheckboxes(ischecked){
    const allTags = document.getElementById('tag_list_0').querySelectorAll('input');
    allTags.forEach(aTag => {
      aTag.checked = ischecked; 
    });
  }
 
//populate .tag_list dropdown list
  document.querySelectorAll('.tag_list').forEach(item => {
		var idx = item.getAttribute('data-idx');
    var data = '';  
    //generate dropdown options
	  for(let [key, value] of tag_map){
	  	data = data + '<option value="'+ key +'">'+ value +'</option>';
	  }
    //populate dropdown with options
    document.getElementById('tag_list_'+idx).innerHTML = '<option value="">- - -</option>' + data;
    //add 'select' to selected options
    var sel_ids = item.getAttribute('data-selitem').toString().split(',');
    document.getElementById('tag_list_'+idx).value = sel_ids;
  });

//Modal open
  var myModal = document.getElementById('Modal_split');
  myModal.addEventListener('show.bs.modal', function(event){
    // Button that triggered the modal
    var button = event.relatedTarget;
    // Extract info from data-bs-* attributes
    var idx = button.getAttribute('data-bs-idx');
    // Update the modal's content.
    const split_locale = "{{ lang['split'] }}";
    document.getElementById('splitID').value = document.getElementById('id'+idx).value;
    document.getElementById('date100').value = document.getElementById('date'+idx).value;
    document.getElementById('splitDesc').value = split_locale +' - '+document.getElementById('desc'+idx).value;
    document.getElementById('splitAmnt').value = document.getElementById('amnt'+idx).value;
    document.getElementById('splitAmnt_static').value = document.getElementById('amnt'+idx).value;
    document.getElementById("splitAmnt").required = true;
    document.getElementById("splitAdjust").checked = true;
  });
  //recalculate original transaction amount
  function recalculateTrans(){
    var am1 = document.getElementById('splitAmnt_static').value;
    var am2 = document.getElementById('splitNewAmnt').value;
    var res = am1;
    if(am2!=""){//if the new amount field is blank, then use the original value
      res = (parseFloat(am1) - parseFloat(am2)).toFixed(2);
    }
    document.getElementById('splitAmnt').value = res;
  }

  //show more FILTER inputs
  function filter_show_more(){
    document.querySelectorAll('.filter_additional_fields').forEach(item => {
		  item.classList.toggle('d-none');
    });
  }

  //populate CARD FILTER with options
  var filter_card = document.getElementById("filter_card");
  var filter_card_sel = filter_card.getAttribute('data-cardselected');
  var filter_card_options = ['D','C','M'];
  filter_card_options.forEach(function(e){
    var option = document.createElement("option");
    var isSelected = e==filter_card_sel ? true : false;
    option.text = e;
    option.value = e;
    option.selected = isSelected;
    filter_card.appendChild(option);
  });

//Modal Chart
  var chartModal = document.getElementById('Modal_chart');
  chartModal.addEventListener('show.bs.modal', function(event){
    // Button that triggered the modal
    var button = event.relatedTarget;
    // Extract info from data-bs-* attributes
    var chrt = button.getAttribute('data-bs-chart');
    document.getElementById("Modal_body_chart").innerHTML = '<canvas id="canvas_chart"></canvas>';
    const ctx = document.getElementById('canvas_chart');
    const wkDayArr = "{{ lang['day_arr'] }}".split(',');

    if(chrt==1){
      document.getElementById("chartModalLabel").innerText = "{{ lang['chrt_lbl_detail'] }}";
      getAjax('chart/{{ accountid }}/1', function(data){
        var res = JSON.parse(data);
        var yymm  = [];
        var lbl = [];
        var col = [];
        var dta = {};

        var idx = 0;
        for(var i=0; i<res['chart'].length; i++){
          //create month labels for x axis
          if(yymm.indexOf(res['chart'][i]['yyyymm']) === -1){
            yymm.push(res['chart'][i]['yyyymm']);
          }
          //create category label for y axis
          if(lbl.indexOf(res['chart'][i]['Category']) === -1){
            lbl.push(res['chart'][i]['Category']);
            col.push(res['chart'][i]['color']);
            dta[idx] = [];
            idx++;
          }
        }

        //create data points
        for(var i=0; i<yymm.length; i++){
          for(var j=0; j<lbl.length; j++){
            //some months might not have any transaction for X category, 
            //therefore a '0' value needs to be added to the array, for the array to have correct length
            var amountFound = 0;
            for(var k=0; k<res['chart'].length; k++){
              if(res['chart'][k]['Category'] == lbl[j] && res['chart'][k]['yyyymm'] == yymm[i]){
                amountFound = Math.round(res['chart'][k]['amount']);
              }
            }
            dta[j].push(amountFound);
          }
        }

        var dataset = [];
        for(var i=0; i<lbl.length; i++){
          dataset.push({
            label: lbl[i],
            backgroundColor: col[i],
            borderColor: '#ffffff',
            borderWidth: 1,
            data: dta[i]
          });
        };

        const data1 = {
          labels: yymm,
          datasets: dataset
        };

        const myChart1 = new Chart(ctx, {
          type: 'bar',
          data: data1,
          options: {
            title: {
              display: false
            },
            tooltips: {
              mode: 'index',
              intersect: false
            },
            responsive: true,
            scales: {
              x: {
                stacked: true,
              },
              y: {
                stacked: true
              }
            }
          }
	      });
      });


    }else if(chrt==2){
      document.getElementById("chartModalLabel").innerText = "{{ lang['chrt_lbl_timeline'] }}";
      getAjax('chart/{{ accountid }}/2', function(data){
        var res = JSON.parse(data);
        var lbl = [];
        var dta = [];
        for(var i=0; i<res['chart'].length; i++){
          var dTxt = res['chart'][i]['traDate'].substring(5,16)
          lbl.push(dTxt);
          dta.push(res['chart'][i]['amount']);
        }
        const myChart1 = new Chart(ctx, {
          type: 'line',
          data: {
              labels: lbl,
              datasets: [{
                  label: 'Amount',
                  data: dta,
                  backgroundColor: '#74a7fe',
                  borderColor: '#74a7fe',
                  borderWidth: 1
              }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: false
              }
            }
          }
        });
      });

    }else if(chrt==3){
      document.getElementById("chartModalLabel").innerText = "{{ lang['chrt_lbl_weekdays'] }}";
      getAjax('chart/{{ accountid }}/3', function(data){
        var res = JSON.parse(data);
        var lbl = [];
        var dta = [];
        for(var i=0; i<res['chart'].length; i++){
          lbl.push(wkDayArr[res['chart'][i]['wkDay']]);
          dta.push(res['chart'][i]['amount']);
        }
        const myChart1 = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: lbl,
              datasets: [{
                  label: 'Amount',
                  data: dta,
                  backgroundColor: '#74a7fe',
                  borderColor: '#ffffff',
                  borderWidth: 1
              }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: false
              }
            }
          }
        });
      });
    }else if(chrt==4){
      getAjax('chart/{{ accountid }}/4', function(data){
        var res = JSON.parse(data);
        var lbl = [];
        var dta1 = [];
        var dta2 = [];
        var dta3 = [];
        var dta4 = [];
        var dta5 = [];
        var dta6 = [];
        for(var i=0; i<res['chart'].length; i++){
          var dTxt = res['chart'][i]['traDate'];
          lbl.push(dTxt);
          dta1.push(res['chart'][i]['mpg']);
          dta2.push(res['chart'][i]['lp100']);
          dta3.push(res['chart'][i]['perLtr']);
          dta4.push(res['chart'][i]['litres']);
          dta5.push(res['chart'][i]['miles']);
          dta6.push(res['chart'][i]['amount']);
        }
        var totalLitres = Math.round(dta4.reduce((partialSum,a) => partialSum + a, 0))*-1;
        var totalMiles = dta5.reduce((partialSum,a) => partialSum + a, 0);
        var totalCost = Math.round(dta6.reduce((partialSum,a) => partialSum + a, 0));
        var avgMPG = ((dta1.reduce((partialSum,a) => partialSum + a, 0))/i).toFixed(2);
        var avgLtr = ((dta2.reduce((partialSum,a) => partialSum + a, 0))/i).toFixed(2);
        document.getElementById("chartModalLabel").innerText = "{{ lang['chrt_lbl_fuel'] }} || {{ lang['chrt_lbl_litres'] }}:"+totalLitres+" || {{ lang['chrt_lbl_miles'] }}:"+totalMiles+" || {{ lang['chrt_lbl_cost'] }}:"+totalCost+" || MPG:"+avgMPG+" || Ltr/100km:"+avgLtr ;
        const myChart1 = new Chart(ctx, {
          type: 'line',
          data: {
              labels: lbl,
              datasets: [{
                  label: 'MPG',
                  yAxisID: 'MPG',
                  data: dta1,
                  backgroundColor: '#74a7fe',
                  borderColor: '#74a7fe',
                  borderWidth: 1
              },{
                  label: 'L/100km',
                  yAxisID: 'L100km',
                  data: dta2,
                  backgroundColor: '#74fef9',
                  borderColor: '#74fef9',
                  borderWidth: 1
              },{
                  label: '£/ltr',
                  yAxisID: 'perlitre',
                  data: dta3,
                  backgroundColor: '#FF6384',
                  borderColor: '#FF6384',
                  borderWidth: 1,
                  hidden: true
              }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: true
              }
            },
            scales: {
              MPG:{
                type: 'linear',
                position: 'left'
              },
              L100km:{
                type: 'linear',
                position: 'right',
                grid:{
                  display: false
                }
              },
              perlitre:{
                type: 'linear',
                position: 'right',
                grid:{
                  display: false
                }
              }
            }
          }
        });
      });
    }
  });
</script>
{% endblock %}

