{% extends "base.html" %}
{% from "pagination.html" import pagi with context %}

{% block subnav1 %}
<li class="nav-item active"><a class="nav-link" href="{{ url_for('overview', accountid=accountid) }}">{{ lang['overview'] }}</a></li>
	{% if cnt_new.cnt > 0 and page_name=='listAll' %}
	<li class="nav-item active"><a class="nav-link" href="{{ url_for('listNew', accountid=accountid) }}">{{ lang['new'] }}</a></li>
	{% endif %}
	{% if page_name=='listNew' %}
	<li class="nav-item active"><a class="nav-link" href="{{ url_for('listAll', accountid=accountid) }}">{{ lang['all'] }}</a></li>
	{% endif %}
{% endblock %}

{% block app_content %}

	<form method="post" class="mt-1">
		<div class="row">
			<label class="col-sm-7 badge bg-dark py-2">{{ lang['tag_group_name'] }}</label>
			<label class="col-sm-3 badge bg-dark py-2">{{ lang['group_color'] }}</label>
			<label class="col-sm-2 badge bg-dark py-2"><i class="bi-tools"></i></label>
		</div>
		<div class="row mt-1">
			<div class="col-sm-7 p-0"><input type="text" class="form-control form-control-sm" name="group_desc" autocomplete="off" required></div>
      		<div class="col-sm-3 p-0"><input type="color" class="form-control form-control-sm" name="color" value="#0275d8"></div>
			<div class="col-sm-2 pr-0"><button type="submit" name="btnSubmit" value="createGroup" class="btn btn-outline-primary btn-block btn-sm"><i class="bi-plus-lg"></i></button></div>
		</div>
	</form>

{% if show_pagination %}
	<div class="row">
		<div class="col-sm p-0">
			{{ pagi(pagination, url_for_name) }}
		</div>
	</div>
{% else %}
	<br><br>
{% endif %}

{% for tgrp in pagination.items %}
	<form method="post">
		<div class="row">
		<input type="hidden" name="group_ID" value="{{ tgrp.id }}" id="id{{ loop.index }}" required>
		<div class="col-sm-7 p-0"><input type="text" class="form-control form-control-sm" name="group_desc" value="{{ tgrp.gName }}" autocomplete="off" required></div>
		<div class="col-sm-3 p-0"><input type="color" class="form-control form-control-sm" name="color" value="{{ tgrp.gColor }}"></div>
		<div class="col-sm-2 pr-0 btn-group">
			<button type="submit" class="btn btn-outline-success btn-sm float-right" name="btnSubmit" value="updateGroup" data-container="body" data-toggle="tooltip" title="{{ lang['btn_save'] }}"><i class="bi-check-lg"></i></button>
			<button type="submit" class="btn btn-outline-danger btn-sm float-right" name="btnSubmit" value="deleteGroup" data-container="body" data-toggle="tooltip" title="{{ lang['btn_delete'] }}"><i class="bi-trash"></i></button>
		</div>
		</div>
	</form>
{% endfor %}

{% endblock %}
{% block page_script %}
{% endblock %}

